.loginContent {
  margin: 5em auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.heading {
  font-weight: 500;
  font-size: 2rem;
  margin: 1em auto;
}

.loginFields {
  width: 60%;
  margin: 1rem auto;
  text-align: center;
}

.loginFields:focus {
  box-shadow: 0 0 0 1.5px teal;
  outline: none;
  border: none;
}

.signUpText {
  margin: auto;
}

@media (min-width: 600px) {
  .loginFields {
    width: 50%;
  }
}
